{% extends 'base.html' %}

{% block content %}
  <div class="cart">
    <div class="shoppingList">
      <table>
        <tr>
          <th>Film</th>
          <th>Price</th>
          <th>Date</th>
        </tr>
        {% for pelicula in peliculas %}
          <tr>
            <td>{{ pelicula.pelicula }}</td>
            <td>{{ pelicula.precio }}</td>
            <td>{{ pelicula.fecha }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div>
    <p class="infoMsg">Your balance: {{ money }}€</p>
    <form class="cashForm" name="cashForm" action="{{ url_for('cash') }}" method="POST">
        <label class="infoMsg">Add money: </label>
        <input type="number" required min="1" name="cash" step="0.01" max="100">
        <input type="submit" value="Add money">
    </form>
  </div>
{% endblock %}
