{% extends 'base.html' %}

{% block content %}
<form class="search" action="{{ url_for('filter') }}" method="POST">
  <select class="custom-select" name="CategorySearch" onchange="if(this.value != 0) { this.form.submit();}">
    <option selected value="Default">Select a category</option>
    <option value="Action">Action</option>
    <option value="Adventure">Adventure</option>
    <option value="Animation">Animation</option>
    <option value="Comedy">Comedy</option>
    <option value="Crime">Crime</option>
    <option value="Drama">Drama</option>
    <option value="Family">Family</option>
    <option value="Fantasy">Fantasy</option>
    <option value="History">History</option>
    <option value="Horror">Horror</option>
    <option value="Music">Music</option>
    <option value="Mistery">Mistery</option>
    <option value="Romance">Romance</option>
    <option value="Sci-Fi">Sci-Fi</option>
    <option value="Sport">Sport</option>
    <option value="Superhero">Superhero</option>
    <option value="Thriller">Thriller</option>
    <option value="War">War</option>
  </select>
  <input type="search" name="SearchFilm" placeholder="Search films by name" onfocus="this.value='';">
  <input type="submit" value="Search">
</form>
{% for pelicula in peliculas %}
<a class="container" href="{{ url_for('details', pelicula='') }}{{ pelicula.titulo }}">
  <img class="filmPic" src="{{ url_for('static', filename='') }}{{ pelicula.poster }}" alt="{{ pelicula.titulo }}">
  <p class="hidDesc">
    {{ pelicula.titulo }}
  </p>
</a>
{% endfor %}
{% endblock %}
