{% extends 'base.html' %}

{% block content %}
      <form class="register" name="logForm" action="{{ url_for('login') }}" method="POST">
        <div class="left">
          <label for="Username">Username:</label><br>
          <label for="Password">Password:</label><br>
          <input type="submit" value="Confirm">
        </div>
        <div class="right">
          <input type="text" id="Username" name="Username" placeholder="Username" onfocus="this.value='';">
          <input type="password" id="Password" name="Password" onfocus="this.value='';">
        </div>
      </form>
      {% if error %}
      <div>
        <p class="errorMsg">Invalid username or password</p>
      </div>
      {% endif %}
{% endblock %}
